In [2]:
import csv as csv

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Read Jobs Data 
Jobs_Data= pd.read_csv("Jobs_in_data.csv")
print(Jobs_Data.head())

   work_year             job_title                    job_category  \
0       2023  Data DevOps Engineer                Data Engineering
1       2023        Data Architect  Data Architecture and Modeling
2       2023        Data Architect  Data Architecture and Modeling
3       2023        Data Scientist       Data Science and Research
4       2023        Data Scientist       Data Science and Research

  salary_currency  salary  salary_in_usd employee_residence experience_level  \
0             EUR   88000          95012            Germany        Mid-level
1             USD  186000         186000      United States           Senior
2             USD   81800          81800      United States           Senior
3             USD  212000         212000      United States           Senior
4             USD   93300          93300      United States           Senior

  employment_type work_setting company_location company_size
0       Full-time       Hybrid          Germany            L
1       Full-time    In-person    United States            M
2       Full-time    In-person    United States            M
3       Full-time    In-person    United States            M
4       Full-time    In-person    United States            M

In [15]:
# Filter year to only 2023
FJ_Data = Jobs_Data[Jobs_Data['work_year'] == 2023]
print(FJ_Data.head())

   work_year             job_title                    job_category  \
0       2023  Data DevOps Engineer                Data Engineering
1       2023        Data Architect  Data Architecture and Modeling
2       2023        Data Architect  Data Architecture and Modeling
3       2023        Data Scientist       Data Science and Research
4       2023        Data Scientist       Data Science and Research

  salary_currency  salary  salary_in_usd employee_residence experience_level  \
0             EUR   88000          95012            Germany        Mid-level
1             USD  186000         186000      United States           Senior
2             USD   81800          81800      United States           Senior
3             USD  212000         212000      United States           Senior
4             USD   93300          93300      United States           Senior

  employment_type work_setting company_location company_size
0       Full-time       Hybrid          Germany            L
1       Full-time    In-person    United States            M
2       Full-time    In-person    United States            M
3       Full-time    In-person    United States            M
4       Full-time    In-person    United States            M

In [17]:
# Filter employee residence to only US

ER_Data= FJ_Data[FJ_Data['employee_residence'] == 'United States']
print(ER_Data)

      work_year                  job_title                    job_category  \
1          2023             Data Architect  Data Architecture and Modeling
2          2023             Data Architect  Data Architecture and Modeling
3          2023             Data Scientist       Data Science and Research
4          2023             Data Scientist       Data Science and Research
5          2023             Data Scientist       Data Science and Research
...         ...                        ...                             ...
7492       2023  Machine Learning Engineer         Machine Learning and AI
7493       2023             Data Scientist       Data Science and Research
7494       2023             Data Scientist       Data Science and Research
7495       2023              Data Engineer                Data Engineering
7496       2023              Data Engineer                Data Engineering

     salary_currency  salary  salary_in_usd employee_residence  \
1                USD  186000         186000      United States
2                USD   81800          81800      United States
3                USD  212000         212000      United States
4                USD   93300          93300      United States
5                USD  130000         130000      United States
...              ...     ...            ...                ...
7492             USD  134500         134500      United States
7493             USD  130000         130000      United States
7494             USD   90000          90000      United States
7495             USD  160000         160000      United States
7496             USD  135000         135000      United States

     experience_level employment_type work_setting company_location  \
1              Senior       Full-time    In-person    United States
2              Senior       Full-time    In-person    United States
3              Senior       Full-time    In-person    United States
4              Senior       Full-time    In-person    United States
5              Senior       Full-time       Remote    United States
...               ...             ...          ...              ...
7492           Senior       Full-time    In-person    United States
7493        Mid-level       Full-time    In-person    United States
7494        Mid-level       Full-time    In-person    United States
7495      Entry-level       Full-time    In-person    United States
7496      Entry-level       Full-time    In-person    United States

     company_size
1               M
2               M
3               M
4               M
5               M
...           ...
7492            L
7493            M
7494            M
7495            M
7496            M

[6644 rows x 12 columns]

In [18]:
ER_Data=ER_Data.rename(columns={'employee_residence': 'Country'})
print(ER_Data.head())

   work_year       job_title                    job_category salary_currency  \
1       2023  Data Architect  Data Architecture and Modeling             USD
2       2023  Data Architect  Data Architecture and Modeling             USD
3       2023  Data Scientist       Data Science and Research             USD
4       2023  Data Scientist       Data Science and Research             USD
5       2023  Data Scientist       Data Science and Research             USD

   salary  salary_in_usd        Country experience_level employment_type  \
1  186000         186000  United States           Senior       Full-time
2   81800          81800  United States           Senior       Full-time
3  212000         212000  United States           Senior       Full-time
4   93300          93300  United States           Senior       Full-time
5  130000         130000  United States           Senior       Full-time

  work_setting company_location company_size
1    In-person    United States            M
2    In-person    United States            M
3    In-person    United States            M
4    In-person    United States            M
5       Remote    United States            M

In [20]:
ER_Data= ER_Data.drop(columns={'salary_in_usd'})
print(ER_Data.head())

   work_year       job_title                    job_category salary_currency  \
1       2023  Data Architect  Data Architecture and Modeling             USD
2       2023  Data Architect  Data Architecture and Modeling             USD
3       2023  Data Scientist       Data Science and Research             USD
4       2023  Data Scientist       Data Science and Research             USD
5       2023  Data Scientist       Data Science and Research             USD

   salary        Country experience_level employment_type work_setting  \
1  186000  United States           Senior       Full-time    In-person
2   81800  United States           Senior       Full-time    In-person
3  212000  United States           Senior       Full-time    In-person
4   93300  United States           Senior       Full-time    In-person
5  130000  United States           Senior       Full-time       Remote

  company_location company_size
1    United States            M
2    United States            M
3    United States            M
4    United States            M
5    United States            M